apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gitea
helmCharts:
- name: gitea
  repo: 'oci://registry-1.docker.io/giteacharts/'
  # Note that version 11 includes the postgres 17 chart which requires an upgrade.
  # Leave on this version until I migrate to a postgres operator instead.
  version: 12.4.0 # https://gitea.com/gitea/helm-chart/releases
  releaseName: gitea
  namespace: gitea
  valuesFile: values.yaml
  includeCRDs: true
- name: actions
  repo: 'oci://registry-1.docker.io/giteacharts/'
  # Note that version 11 includes the postgres 17 chart which requires an upgrade.
  # Leave on this version until I migrate to a postgres operator instead.
  version: 0.0.2 # https://gitea.com/gitea/helm-chart/releases
  releaseName: actions
  namespace: gitea
  valuesFile: values-actions.yaml
  includeCRDs: true
resources:
- gitea-pvc.yaml
- gitea-pv.yaml
- httproute.yaml