# https://github.com/cert-manager/cert-manager/releases
helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2
    releaseName: cert-manager
    namespace: cert-manager
    valuesFile: values.yaml
    includeCRDs: true
resources:
  - namespace.yaml